<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75775866627-79biifoe6bk49b8sdqqdfhlpmbr8jcf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75775866627-79biifoe6bk49b8sdqqdfhlpmbr8jcf7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>75775866627-f9rn6vgm4cq1o2uc1ee5u7al1fg300tb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIgaijkm0P2NGHVpfTAIeefDljw8bWx6s</string>
	<key>GCM_SENDER_ID</key>
	<string>75775866627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>freshcode-loyalty</string>
	<key>STORAGE_BUCKET</key>
	<string>freshcode-loyalty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75775866627:ios:f5a19708d15e4f5f615b36</string>
</dict>
</plist>